<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <!--Pagina Sign In-->
    <main class="li-main-page">
     
        <section class="li-main-section">
     
            <form action="/users/edit/<%= users.id %>?_method=PUT" method="POST" class="li-main-form">
     
                <h1 class="li-main-title">Editar <%= users.first_name + ' ' + users.last_name %></h1>
     
                <div class="li-main-input-data">
                    <input class="li-main-in-put" type="text" name="name" value="<%= users.first_name %>" placeholder="Nombre" required>
                    <input class="li-main-in-put" type="text" name="apellido" value="<%= users.last_name %>" placeholder="Apellido" required>
                    <input class="li-main-in-put" type="email" name="email" value="<%= users.email %>" placeholder="e-mail"required>
                    <input class="li-main-in-put" type="text" name="userName" value="<%= users.nickname %>" placeholder="Nombre de usuario"required>             
                    <input class="li-main-in-put" type="file"  name="avatar" >
                    <input class="li-main-in-put" type="password" name="password" placeholder="Contraseña" required>
                </div>
     
                <button type="submit" class="li-main-button" value="<%= users.id %>" name="id">Editar</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>