<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productCategories.css">
    <link rel="stylesheet" href="/css/deleteProducts.css">
</head>

<body>
    <header id="page-header">
        <%- include('../partials/header') %>   
    </header>

    <main>
        <h1>BORRAR PRODUCTOS:</h1>
        <div class="featured-offers-box">
            <% for (let i = 1 ; i <= 10 ; i++){ %>
                <article class="featured-offer">
                    <form method="POST" action="/products/deleteProducts?_method=DELETE" class="trash-icon">
                        <button type="submit" class="trash-button"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <div  class="offer-img-div"> 
                        <img src="/img/box-product.jpg" alt="<%=i%>-product-image" class="featured-category-img">
                    </div>
                    <div class="offer-title">
                        <h4 class="offer-title-h4">Caja numero <%= i %> </h4>
                        <p class="off"><%= Math.floor(Math.random(20, 70)*(70+1))%>%</p>
                    </div>
                </article>
            <% } %>
    
        </div>
       
    </main>

    <footer id="page-footer">
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>