<%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

    <!--Pagina Listado-->
    <main class="pf-main-page">
           
        <!--Seccion Productos-->
        <section class="pf-main-section">
            <% const num= product.length %>
                <% for (let i=0; i < num; i++) { %>
                    <article class="home-article">

                        <a href="/product/<%= product[i].id %>"><img src="/img/Products-Images/Resmas/<%= product[i].product_img %>" alt="<%= product[i].product_img %>" class="product-images"></a>
                    
                        <h3 class="home-article-title"><%= product[i].name%></h3>
                    
                        <h4 class="home-article-price"><%= product[i].price%>USD</h4>
                    
                        <div class="home-article-button">
                    
                            <form action="/product/delete/<%= product[i].id%>" method="POST" class="home-article-form">
                                <button type="submit" class="article-button-comprar" value="<%= product[i].id%>" name="id">Borrar</button>
                            </form>
                    
                            <form action="/product/edit/<%= product[i].id%>" method="GET" class="home-article-form">
                                <button type="submit" class="article-button-ver">Editar</button>
                            </form>
                    
                        </div>
                    </article>
                <% } %>

        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>