    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productCreate.css">
</head>

<body class="pcreate-body">
    <%- include('../partials/header') %>

    <main class="pcreate-main">
        <section id="section-form">        
    
            <form id="form" action="/product/create" method="POST" enctype="multipart/form=data">
                
                <h1 id="form-title">Creación de producto</h1>

                <div class="input-box">
                    <label class="la-bel" for="productname">Nombre del producto:</label>
                    <input class="in-put" type="text" name="productname" placeholder="Nombre del producto" id="product-name" >
                </div>
                <p class="text-error" id="name-text-error"></p>
           
                <div class="input-box">
                    <label class="la-bel" for="category">Categoría:</label>
                    <select class="in-put" id="category" name="category" placeholder="categorias">
                        
                        <% for (let i = 0; i < category.length; i++) { %>

                            <option value="<%= category[i].id  %>">
                                <%= category[i].name %>
                            </option>

                        <% } %>
                        
                        
                      </select>
                </div>
    
                <div class="input-box">
                    <label class="la-bel" for="prize">Precio:</label>
                    <input class="in-put" type="number" name="prize" placeholder="Precio" id="prize">
                </div>
                <p class="text-error" id="price-text-error"></p>

                <div class="input-box">
                    <label class="la-bel" for="productImage">Imagen del producto:</label>
                    <input type="file" class="in-put" name="productImage" id="productImage"> 
                </div>

                <div class="input-box">
                    <textarea class="in-put" name="description" id="description" cols="30" placeholder="Descripción del producto" rows="5"></textarea>     
                </div>
                <p class="text-error" id="description-text-error"></p>

                <div class="input-box">
                    <button id="send-button" type="submit">CARGAR PRODUCTO</button>
                </div>

            </form>

        </section>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/productCreate.js"> </script>
</body>
</html>