<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body id="pd-body">
    <%- include('../partials/header') %>

    <!--Pagina Detalle Producto-->
    <main class="pd-main">

        <!--Sección Producto-->
        <article class="pd-main-article">
          
            <!--Producto IMG-->
            <img src="/img/Products-Images/<%= producto.product_image %>" alt="Product-1" class="pd-product-image">
          
            <!--Producto Info-->
            <div class="pd-article-data">
          
                <!--Producto Titulo y Cantidad-->
                <div class="pd-article-data-price-section">
          
                    <!--Titulo y Precio-->
                    <div>
                        <h1 class="pd-article-title"><%= producto.productname %></h1>
                        <h2 class="pd-article-price"><%= producto.prize %> USD</h2>
                    </div>
          
                    <!--Cantidad-->
                    <div class="pd-article-quantity">
          
                        <h1 class="pd-article-quantity-title">Cantidad</h1>
          
                        <select name="product-quantity" id="pd-quantity-button">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
          
                <!--Boton Agregar al Carrito-->
                <button class="pd-article-buy-button">Agregar al Carrito</button>
          
                <!--Descripción-->
                <div class="pd-article-description">
          
                    <!--Titulo Descripción-->
                    <h1 class="pd-article-description-title">Descripcion</h1>
                    <!--Producto Descripción-->
                    <h2 class="pd-article-description-text">· 8 – 1/2 x 11" Carta Tamaño Papel blanco brillante proporciona mejor contraste. Funciona bien en fotocopiadoras, impresoras de inyección de tinta o láser. Sin ácido para calidad de archivo papel divertido, funcional para su oficina. Poly-wrapped resmas proporcionar atractivo visual y protección resistencia. Costo el mismo como el papel normal.</h2>
                </div>
            </div>
        </article>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>