    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body id="body">
    <%- include('../partials/header') %>

    <!--Pagina Detalle Producto-->
    <main class="main">

        <!--Secci贸n Producto-->
        <article class="main-article">
          
            <!--Producto IMG-->
            <img src="/img/Products-Images/Resmas/<%= product.product_img %>" alt="Product IMG" class="product-image">
          
            <!--Producto Info-->
            <div class="article-data">
          
                <!--Producto Titulo y Cantidad-->
                <div class="article-data-price-section">
          
                    <!--Titulo y Precio-->
                    <div>
                        <h1 class="article-title"><%= product.name %></h1>
                        <h2 class="article-price"><%= product.price %> USD</h2>
                        <h2 class="article-price"><%= product.category.name%></h2>
                    </div>
          
                    <!--Cantidad-->
                    <div class="article-quantity">
          
                        <h1 class="article-quantity-title">Cantidad</h1>
          
                        <select name="product-quantity" id="quantity-button">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
          
                <!--Boton Agregar al Carrito-->
                <button class="article-buy-button">Agregar al Carrito</button>
          
                <!--Descripci贸n-->
                <div class="article-description">
          
                    <!--Titulo Descripci贸n-->
                    <h1 class="article-description-title">Descripcion</h1>
                    <!--Producto Descripci贸n-->
                    <h2 class="article-description-text"> <%= product.description %> </h2>
            </div>
        </article>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>