<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body id="pd-body">
    <%- include('../partials/header') %>

    <!--Pagina Detalle Producto-->
    <main class="pd-main">

        <!--Secci贸n Producto-->
        <article class="pd-main-article">
          
            <!--Producto IMG-->
            <img src="/img/Products-Images/<%= product.product_img %>" alt="Product-1" class="pd-product-image">
          
            <!--Producto Info-->
            <div class="pd-article-data">
          
                <!--Producto Titulo y Cantidad-->
                <div class="pd-article-data-price-section">
          
                    <!--Titulo y Precio-->
                    <div>
                        <h1 class="pd-article-title"><%= product.name %></h1>
                        <h2 class="pd-article-price"><%= product.price %> USD</h2>
                        <h2 class="pd-article-price"><%= product.category.name%></h2>
                    </div>
          
                    <!--Cantidad-->
                    <div class="pd-article-quantity">
          
                        <h1 class="pd-article-quantity-title">Cantidad</h1>
          
                        <select name="product-quantity" id="pd-quantity-button">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
          
                <!--Boton Agregar al Carrito-->
                <button class="pd-article-buy-button">Agregar al Carrito</button>
          
                <!--Descripci贸n-->
                <div class="pd-article-description">
          
                    <!--Titulo Descripci贸n-->
                    <h1 class="pd-article-description-title">Descripcion</h1>
                    <!--Producto Descripci贸n-->
                    <h2 class="pd-article-description-text"> <%= product.description %> </h2>
            </div>
        </article>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>