<%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
    

    <!--Pagina Sign In-->
    <main class="li-main-page">
     
        <section class="li-main-section">
     
            <form action="/users/sign-in" method="POST" class="li-main-form">
     
                <!--Titulo-->
                <h1 class="li-main-title">Registrate</h1>
     
                <!--Campos a Llenar-->
                <div class="li-main-input-data">
                    <input class="li-main-in-put" type="text" name="name" id="firstNameInput" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>" autofocus >
                    <p class="text-error" id="firstName-text-error"></p>
                    
                    <input class="li-main-in-put" type="text" name="apellido" id="lastNameInput" placeholder="Apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                    <p class="text-error" id="lastName-text-error"></p>

                    <input class="li-main-in-put" type="email" name="email" id="emailInput" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : null %>" >
                    <p class="text-error" id="email-text-error"></p>
                    <% if (locals.errors && errors.email) { %>
                        <p class="text-error"><i class="fas fa-exclamation-circle"></i> <%= errors.email.msg %></p>
                    <% } %>

                    <input class="li-main-in-put" type="text" name="userName" id="userNameInput" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.userName : null %>" >
                    <p class="text-error" id="userName-text-error"></p> 

                    <input class="li-main-in-put" type="file"  name="avatar" id="avatarInput">
                    <p class="text-error" id="avatar-text-error"></p>

                    <input class="li-main-in-put" type="password" name="password" id="passwordInput" placeholder="Contraseña" >
                    <p class="text-error" id="password-text-error"></p>
                </div>
     
                <!--Boton Registrarse-->
                <button type="submit" class="li-main-button">Registrarse</button>
            </form>
        </section>
        
    </main>   
    <%- include('../partials/footer') %>
    <script src="/js/register.js"> </script>
</body>
</html>