    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body id="pd-body">
    <%- include('../partials/header') %>

    <main class="main">

        <article class="main-article">

            <div class="divs">

                <div id="avatar-box">
                    <img src="/img/avatars/<%= users.profile_img %>" alt="avatar" class="avatar">
                </div>  
            </div>

            <div class="divs">
                <h1><%= users.nickname %></h1>
                <h2><%= users.first_name + ' ' + users.last_name %></h2>
                <p><%= users.email %></p>
                <p>id: <%= users.id %> </p>
            </div>

            <div class="divs" id="divs-forms">

                <% if (locals.isLogged) { %>
                    <form action="/users/delete/:id" method="POST" class="home-article-form">
                        <button type="submit" class="article-button-comprar" value="<%= users.id%>" name="id">Eliminar</button>
                    </form>
            
                    <form action="/users/edit/<%= users.id%>" method="GET" class="home-article-form">
                        <button type="submit" class="article-button-ver">Editar</button>
                    </form>
                <% } %>
                
            </div>

            <div class="divs-buttons">
            
                <div class="button-edit-delete">
                    <form action="/users/delete/<%= users.id%>" method="POST" class="home-article-form user-delete-button">
                        <button type="submit" class="article-button-comprar">Eliminar</button>
                    </form>
                    
                    <form action="/users/edit/<%= users.id%>" method="GET" class="home-article-form user-edit-button">
                        <button type="submit" class="article-button-ver">Editar</button>
                    </form>

                </div>
                <form action="/users/list" method="GET" class="home-article-form user-list-button">
                    <button type="submit" class="article-button-ver">Lista de Usuarios</button>
                </form>
            </div>
        </article>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>

