<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body id="pd-body">
    <%- include('../partials/header') %>

  
    <main class="usersl-main">
        <% for(let i = 0 ; i < users.length; i++){ %>
            <a class="usersl-main-article">
                <div class="usersl-divs">
                    <div id="usersl-avatar-box">
                        <img src="/img/avatars/<%= users[i].profile_img %>" alt="avatar" class="avatar">
                    </div>  
                </div>
                <div class="usersl-divs">
                    <h1><%= users[i].nickname %></h1>
                    <h2><%= users[i].first_name + ' ' + users[i].last_name %></h2>
                    <p><%= users[i].email %></p>
                    <h3>id: <%= users[i].id %></h3>
                </div>                           
            </a>
        <% } %>     
    </main>

    <%- include('../partials/footer') %>
</body>
</html>